{% extends 'base.html' %} {% block content %}
<h2>Mis alojamientos</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Precio por día</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for alojamiento in alojamientos %}
    <tr>
      <td>{{ alojamiento.descripcion }}</td>
      <td>${{ alojamiento.precio }}</td>
      <td>
        <a
          href="{% url 'editar_alojamiento' alojamiento.id %}"
          class="btn btn-primary btn-sm"
          >Editar</a
        >
        <a
          href="{% url 'ver_alquileres' alojamiento.id %}"
          class="btn btn-secondary btn-sm"
          >Ver Alquileres</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3" class="text-center">No tienes alojamientos.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
