{% extends 'base.html' %}

{% block content %}
  <h2>Alquileres para: {{ alojamiento.descripcion }}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Desde</th>
        <th>Hasta</th>
      </tr>
    </thead>
    <tbody>
      {% for alquiler in alquileres %}
        <tr>
          <td>{{ alquiler.inquilino.first_name }}</td>
          <td>{{ alquiler.inquilino.last_name }}</td>
          <td>{{ alquiler.desde }}</td>
          <td>{{ alquiler.hasta }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2" class="text-center">No hay alquileres para este alojamiento.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
