{% extends 'base.html' %}
{% block content %} 

<h2>Mis alojamientos</h2>
<a href="">Nuevo alojamiento</a>

<table>
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Precio al dia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for alojamiento in alojamientos %}
            <tr>
                <td> {{alojamiento.descripcion}} </td>
                <td> {{alojamiento.precio}} </td>
                <td>
                    <a href="">Editar</a>
                    <a href="">Ver alquileres</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}