<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda de citas</title>
  </head>
  <body>
    <form action="" method="post">
      {% csrf_token %} {{form.as_p}} {% for cita in agenda %}
      <li>{{cita.descripcion}}</li>
      <li>{{cita.fecha}}</li>
      {%empty%}
      <li>La agenda esta vacia</li>
      {% endfor %}
      <button type="submit">Guardar</button>
    </form>
  </body>
</html>
